body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1523px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:636px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u829 {
  position:absolute;
  left:0px;
  top:72px;
  width:197px;
  height:636px;
}
#u830 {
  position:absolute;
  left:2px;
  top:310px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u831 {
  position:absolute;
  left:21px;
  top:93px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
}
#u834 {
  position:absolute;
  left:2px;
  top:28px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u835 {
  position:absolute;
  left:1157px;
  top:25px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:72px;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:72px;
}
#u838 {
  position:absolute;
  left:2px;
  top:28px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839 {
  position:absolute;
  left:27px;
  top:148px;
  width:150px;
  height:145px;
}
#u839_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u841 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u841_img.selected {
}
#u841.selected {
}
#u842 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u843 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u844 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u840_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u845 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u846 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u847 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u848 {
  position:absolute;
  left:0px;
  top:40px;
  width:145px;
  height:20px;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u849 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u849_img.selected {
}
#u849.selected {
}
#u850 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u851 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u852 {
  position:absolute;
  left:3px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u848_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u853 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u854 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u855 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u856 {
  position:absolute;
  left:0px;
  top:80px;
  width:145px;
  height:20px;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u857 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u857_img.selected {
}
#u857.selected {
}
#u858 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u859 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u860 {
  position:absolute;
  left:3px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u856_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u861 {
  position:absolute;
  left:20px;
  top:20px;
  width:95px;
  height:20px;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u862 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u863 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u864 {
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:20px;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u865 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u866 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
  background:inherit;
  background-color:rgba(83, 146, 211, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u867 {
  position:absolute;
  left:1239px;
  top:82px;
  width:91px;
  height:33px;
  color:#FFFFFF;
}
#u868 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:2px;
}
#u869 {
  position:absolute;
  left:214px;
  top:133px;
  width:1131px;
  height:1px;
}
#u870 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  position:absolute;
  left:214px;
  top:107px;
  width:57px;
  height:16px;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u873 {
  position:absolute;
  left:438px;
  top:151px;
  width:85px;
  height:22px;
}
#u873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u873_input:disabled {
  color:grayText;
}
#u874 {
  position:absolute;
  left:287px;
  top:151px;
  width:85px;
  height:22px;
}
#u874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u874_input:disabled {
  color:grayText;
}
#u875 {
  position:absolute;
  left:588px;
  top:151px;
  width:85px;
  height:22px;
}
#u875_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u875_input:disabled {
  color:grayText;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u876 {
  position:absolute;
  left:214px;
  top:209px;
  width:84px;
  height:16px;
  color:#666666;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  position:absolute;
  left:287px;
  top:397px;
  width:294px;
  height:22px;
}
#u881 {
  position:absolute;
  left:2px;
  top:3px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  position:absolute;
  left:287px;
  top:258px;
  width:294px;
  height:139px;
}
#u883 {
  position:absolute;
  left:2px;
  top:62px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u884 {
  position:absolute;
  left:295px;
  top:404px;
  width:275px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u886 {
  position:absolute;
  left:287px;
  top:453px;
  width:100px;
  height:16px;
}
#u887 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u886_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u888 {
  position:absolute;
  left:397px;
  top:449px;
  width:300px;
  height:25px;
}
#u888_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u889 {
  position:absolute;
  left:287px;
  top:503px;
  width:100px;
  height:16px;
}
#u890 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u889_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891 {
  position:absolute;
  left:374px;
  top:503px;
  width:140px;
  height:40px;
}
#u892 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
  background:inherit;
  background-color:rgba(83, 146, 211, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u893 {
  position:absolute;
  left:573px;
  top:649px;
  width:91px;
  height:33px;
  color:#FFFFFF;
}
#u894 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u895 {
  position:absolute;
  left:710px;
  top:649px;
  width:91px;
  height:33px;
  color:#FFFFFF;
}
#u896 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:252px;
  height:25px;
}
#u897 {
  position:absolute;
  left:928px;
  top:521px;
  width:240px;
  height:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0000FF;
}
#u898 {
  position:absolute;
  left:2px;
  top:-10px;
  width:236px;
  word-wrap:break-word;
}
#u899 {
  position:absolute;
  left:1193px;
  top:511px;
  width:100px;
  height:16px;
}
#u900 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u899_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u901 {
  position:absolute;
  left:1215px;
  top:537px;
  width:300px;
  height:170px;
}
#u902 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  position:absolute;
  left:1295px;
  top:576px;
  width:140px;
  height:40px;
}
#u904 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u905 {
  position:absolute;
  left:1295px;
  top:626px;
  width:140px;
  height:40px;
}
#u906 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:80px;
  color:#CCCCCC;
}
#u907 {
  position:absolute;
  left:406px;
  top:282px;
  width:57px;
  height:86px;
  font-size:80px;
  color:#CCCCCC;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u909 {
  position:absolute;
  left:1479px;
  top:525px;
  width:44px;
  height:40px;
}
#u910 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
