body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1523px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:636px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  position:absolute;
  left:0px;
  top:72px;
  width:197px;
  height:636px;
}
#u876 {
  position:absolute;
  left:2px;
  top:310px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u877 {
  position:absolute;
  left:21px;
  top:93px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
}
#u880 {
  position:absolute;
  left:2px;
  top:28px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u881 {
  position:absolute;
  left:1157px;
  top:25px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:72px;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:72px;
}
#u884 {
  position:absolute;
  left:2px;
  top:28px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885 {
  position:absolute;
  left:27px;
  top:148px;
  width:150px;
  height:185px;
}
#u885_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u887 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u887_img.selected {
}
#u887.selected {
}
#u888 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u890 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u886_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u891 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u893 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u894 {
  position:absolute;
  left:20px;
  top:40px;
  width:95px;
  height:20px;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895 {
  position:absolute;
  left:22px;
  top:0px;
  width:89px;
  height:20px;
}
#u896 {
  position:absolute;
  left:3px;
  top:2px;
  width:84px;
  white-space:nowrap;
}
#u897 {
  position:absolute;
  left:0px;
  top:60px;
  width:145px;
  height:20px;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u898 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u898_img.selected {
}
#u898.selected {
}
#u899 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u901 {
  position:absolute;
  left:3px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u897_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u902 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u904 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u905 {
  position:absolute;
  left:0px;
  top:100px;
  width:145px;
  height:20px;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u906 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u906_img.selected {
}
#u906.selected {
}
#u907 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  position:absolute;
  left:22px;
  top:0px;
  width:123px;
  height:20px;
}
#u909 {
  position:absolute;
  left:3px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u905_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u910 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u911 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u912 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u913 {
  position:absolute;
  left:0px;
  top:140px;
  width:80px;
  height:20px;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u915 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u916 {
  position:absolute;
  left:0px;
  top:160px;
  width:80px;
  height:20px;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u918 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
  background:inherit;
  background-color:rgba(83, 146, 211, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u919 {
  position:absolute;
  left:1239px;
  top:82px;
  width:91px;
  height:33px;
  color:#FFFFFF;
}
#u920 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:2px;
}
#u921 {
  position:absolute;
  left:214px;
  top:133px;
  width:1131px;
  height:1px;
}
#u922 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  position:absolute;
  left:214px;
  top:107px;
  width:57px;
  height:16px;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u925 {
  position:absolute;
  left:438px;
  top:151px;
  width:85px;
  height:22px;
}
#u925_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u925_input:disabled {
  color:grayText;
}
#u926 {
  position:absolute;
  left:287px;
  top:151px;
  width:85px;
  height:22px;
}
#u926_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u926_input:disabled {
  color:grayText;
}
#u927 {
  position:absolute;
  left:588px;
  top:151px;
  width:85px;
  height:22px;
}
#u927_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u927_input:disabled {
  color:grayText;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u928 {
  position:absolute;
  left:214px;
  top:209px;
  width:84px;
  height:16px;
  color:#666666;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:287px;
  top:397px;
  width:294px;
  height:22px;
}
#u933 {
  position:absolute;
  left:2px;
  top:3px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934 {
  position:absolute;
  left:287px;
  top:258px;
  width:294px;
  height:139px;
}
#u935 {
  position:absolute;
  left:2px;
  top:62px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u936 {
  position:absolute;
  left:295px;
  top:404px;
  width:275px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u938 {
  position:absolute;
  left:287px;
  top:453px;
  width:100px;
  height:16px;
}
#u939 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u938_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u940 {
  position:absolute;
  left:397px;
  top:449px;
  width:300px;
  height:25px;
}
#u940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u941 {
  position:absolute;
  left:287px;
  top:503px;
  width:100px;
  height:16px;
}
#u942 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u941_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:374px;
  top:503px;
  width:140px;
  height:40px;
}
#u944 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
  background:inherit;
  background-color:rgba(83, 146, 211, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u945 {
  position:absolute;
  left:573px;
  top:649px;
  width:91px;
  height:33px;
  color:#FFFFFF;
}
#u946 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u947 {
  position:absolute;
  left:710px;
  top:649px;
  width:91px;
  height:33px;
  color:#FFFFFF;
}
#u948 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:252px;
  height:25px;
}
#u949 {
  position:absolute;
  left:928px;
  top:521px;
  width:240px;
  height:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0000FF;
}
#u950 {
  position:absolute;
  left:2px;
  top:-10px;
  width:236px;
  word-wrap:break-word;
}
#u951 {
  position:absolute;
  left:1193px;
  top:511px;
  width:100px;
  height:16px;
}
#u952 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u951_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u953 {
  position:absolute;
  left:1215px;
  top:537px;
  width:300px;
  height:170px;
}
#u954 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  position:absolute;
  left:1295px;
  top:576px;
  width:140px;
  height:40px;
}
#u956 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u957 {
  position:absolute;
  left:1295px;
  top:626px;
  width:140px;
  height:40px;
}
#u958 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:80px;
  color:#CCCCCC;
}
#u959 {
  position:absolute;
  left:406px;
  top:282px;
  width:57px;
  height:86px;
  font-size:80px;
  color:#CCCCCC;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u961 {
  position:absolute;
  left:1479px;
  top:525px;
  width:44px;
  height:40px;
}
#u962 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
