body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:678px;
}
#u1775 {
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:678px;
}
#u1776 {
  position:absolute;
  left:2px;
  top:331px;
  width:1303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u1777 {
  position:absolute;
  left:806px;
  top:345px;
  width:24px;
  height:27px;
}
#u1778 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1779 {
  position:absolute;
  left:840px;
  top:345px;
  visibility:hidden;
}
#u1779_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1779_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1780 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u1781 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1782 {
  position:absolute;
  left:86px;
  top:10px;
  width:122px;
  height:20px;
}
#u1783 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u1784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:53px;
}
#u1784 {
  position:absolute;
  left:6px;
  top:35px;
  width:49px;
  height:53px;
}
#u1785 {
  position:absolute;
  left:2px;
  top:18px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
}
#u1786 {
  position:absolute;
  left:65px;
  top:40px;
  width:49px;
  height:50px;
}
#u1787 {
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u1788 {
  position:absolute;
  left:124px;
  top:40px;
  width:53px;
  height:53px;
}
#u1789 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:113px;
}
#u1790 {
  position:absolute;
  left:187px;
  top:35px;
  width:98px;
  height:113px;
}
#u1791 {
  position:absolute;
  left:2px;
  top:48px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
