body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:1324px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:1324px;
}
#u19 {
  position:absolute;
  left:2px;
  top:654px;
  width:1303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:273px;
  top:600px;
  width:65px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:106px;
  top:653px;
  width:103px;
  height:32px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u24 {
  position:absolute;
  left:116px;
  top:665px;
  width:22px;
  height:16px;
  font-size:12px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:140px;
  top:664px;
  width:33px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
