body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1244 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:568px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1246 {
  position:absolute;
  left:53px;
  top:53px;
  width:315px;
  height:40px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:12px;
  width:311px;
  word-wrap:break-word;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u1248 {
  position:absolute;
  left:61px;
  top:60px;
  width:13px;
  height:25px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:133px;
}
#u1250 {
  position:absolute;
  left:56px;
  top:207px;
  width:305px;
  height:133px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:58px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:133px;
}
#u1252 {
  position:absolute;
  left:56px;
  top:350px;
  width:305px;
  height:133px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:58px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:133px;
}
#u1254 {
  position:absolute;
  left:56px;
  top:493px;
  width:305px;
  height:133px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:58px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:116px;
}
#u1256 {
  position:absolute;
  left:56px;
  top:94px;
  width:309px;
  height:115px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:50px;
  width:305px;
  word-wrap:break-word;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u1258 {
  position:absolute;
  left:85px;
  top:59px;
  width:29px;
  height:26px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
